Repository equaltoai/greater-components, changes with the owners that CODEOWNERS names for each.
All owners: @equaltoai/core-team, @equaltoai/design-system, @equaltoai/ui-team, @equaltoai/greater-components-fediverse-team, @equaltoai/backend-team, @equaltoai/docs-team, @equaltoai/devops, @equaltoai/release-team, @equaltoai/legal

CODEOWNERS:

# CODEOWNERS for greater-components repository
# These owners will be the default owners for everything in the repo
# unless a later match takes precedence.

# Global owners
* @equaltoai/core-team

# Package-specific ownership
/packages/tokens/ @equaltoai/design-system
/packages/icons/ @equaltoai/design-system
/packages/primitives/ @equaltoai/ui-team
/packages/fediverse/ @equaltoai/greater-components-fediverse-team
/packages/adapters/ @equaltoai/backend-team
/packages/utils/ @equaltoai/core-team

# App ownership
/apps/playground/ @equaltoai/docs-team
/apps/docs/ @equaltoai/docs-team

# Infrastructure and configuration
/.github/ @equaltoai/devops
/scripts/ @equaltoai/devops
*.config.* @equaltoai/devops
.changeset/ @equaltoai/release-team

# Documentation
*.md @equaltoai/docs-team
/docs/ @equaltoai/docs-team

# License and legal
LICENSE @equaltoai/legal
CONTRIBUTING.md @equaltoai/legal @equaltoai/core-team

4.2.4
  .changeset/chat-input-placeholder-alignment.md
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/shared/chat/CHANGELOG.md
  packages/shared/chat/package.json
  packages/shared/chat/src/ChatInput.svelte
Owners: @equaltoai/docs-team, @equaltoai/core-team

deploy: 26c4a2554997b2ab11bf8d0f8b1fac799d627a4e
  coverage/combined-coverage.json
  coverage/index.html
Owners: @equaltoai/core-team

4.2.5
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/shared/chat/CHANGELOG.md
  packages/shared/chat/package.json
  packages/shared/chat/src/ChatInput.svelte
Owners: @equaltoai/docs-team, @equaltoai/core-team

deploy: 2c7c7d039d220f2a883edc18416b962613a688c0
  coverage/combined-coverage.json
  coverage/index.html
Owners: @equaltoai/core-team

baseline
  packages/content/tests/CodeBlock.test.ts
  packages/content/tests/MarkdownRenderer.test.ts
  packages/content/tests/setup.ts
  packages/primitives/src/theme.css
  packages/shared/auth/tests/auth-context.test.ts
  packages/shared/auth/tests/auth-instance-selector.test.ts
  packages/shared/auth/tests/fixtures/AuthHarness.svelte
  packages/shared/auth/tests/fixtures/InstanceSelectorHarness.svelte
Owners: @equaltoai/core-team, @equaltoai/ui-team

docs updates
  apps/docs/src/routes/guides/animations/+page.svelte
  apps/docs/src/routes/guides/dark-mode/+page.svelte
  apps/docs/src/routes/guides/theming/+page.svelte
  apps/playground/src/lib/components/CodeExample.svelte
  apps/playground/src/routes/+layout.svelte
  apps/playground/src/routes/demos/alert/+page.svelte
  apps/playground/src/routes/demos/dropdown-menu/+page.svelte
  apps/playground/src/routes/demos/primitives/+page.svelte
  apps/playground/src/routes/examples/oauth-signin/+page.svelte
  apps/playground/src/routes/examples/user-menu/+page.svelte
  docs/README.md
  docs/_concepts.yaml
  docs/api-reference.md
  docs/component-inventory.md
  docs/design/PAY_THEORY_DOCUMENTATION_GUIDE.md
  docs/design/greater-components-suggestions.md
  docs/importing-components.md
  docs/migration-guide.md
  docs/outdated-references-inventory.md
  eslint.config.js
  packages/headless/src/primitives/alert.ts
  packages/headless/src/primitives/menu.ts
  packages/primitives/src/components/Menu/Root.svelte
  packages/primitives/src/components/Menu/context.d.ts
  packages/primitives/src/components/Menu/context.d.ts.map
  packages/primitives/src/components/Menu/context.ts
  packages/primitives/src/components/SimpleMenu.svelte
  packages/primitives/src/components/Tooltip.svelte
  packages/shared/auth/src/SignInCard.svelte
  packages/shared/auth/src/UserButton.svelte
  packages/shared/auth/tests/SignInCard.test.ts
  packages/shared/auth/tests/UserButton.test.ts
  packages/shared/auth/tsconfig.json
  packages/shared/chat/src/ChatMessage.svelte
  packages/shared/chat/src/ChatMessages.svelte
Owners: @equaltoai/docs-team, @equaltoai/devops, @equaltoai/core-team, @equaltoai/ui-team

4.2.6
  package.json
  packages/faces/social/vite.config.ts
  packages/greater-components/tests/smoke.test.ts
  packages/primitives/src/components/Avatar.svelte
  packages/primitives/src/components/Badge.svelte
  packages/primitives/src/components/Menu/Content.svelte
  packages/primitives/src/components/Menu/Trigger.svelte
  packages/primitives/test_output.txt
  packages/primitives/tests/loadingstate.test.ts
  packages/primitives/tests/spinner.test.ts
  packages/shared/auth/src/SignInCard.svelte
  packages/shared/auth/src/UserButton.svelte
  packages/shared/auth/src/context.ts
  packages/shared/auth/test_output.txt
  packages/shared/auth/test_output_debug.txt
  packages/shared/auth/test_output_debug_2.txt
  packages/shared/auth/test_output_debug_3.txt
  packages/shared/auth/tests/LoginForm.test.ts
  packages/shared/auth/tests/SignInCard.test.ts
  packages/shared/auth/tests/UserButton.test.ts
  packages/shared/notifications/tests/NotificationItem.test.ts
  packages/tokens/tests/exports.test.ts
  packages/tokens/tsconfig.json
  pnpm-lock.yaml
Owners: @equaltoai/core-team, @equaltoai/devops, @equaltoai/ui-team, @equaltoai/design-system

4.2.6
  .changeset/breezy-cats-dance.md
  packages/faces/social/src/adapters/graphql/index.ts
  packages/faces/social/src/adapters/index.ts
  packages/faces/social/src/components/Filters/index.ts
  packages/faces/social/src/components/Lists/index.ts
  packages/faces/social/src/components/Profile/AccountMigration.svelte
  packages/faces/social/src/components/Profile/EndorsedAccounts.svelte
  packages/faces/social/src/components/Profile/FeaturedHashtags.svelte
  packages/faces/social/src/components/Profile/FollowRequests.svelte
  packages/faces/social/src/components/Profile/FollowersList.svelte
  packages/faces/social/src/components/Profile/FollowingList.svelte
  packages/faces/social/src/components/Profile/PrivacySettings.svelte
  packages/faces/social/src/components/Profile/VerifiedFields.svelte
  packages/faces/social/src/components/Profile/index.ts
  packages/faces/social/src/components/Status/README.md
  packages/faces/social/src/components/Status/context.ts
  packages/faces/social/src/components/Status/index.ts
  packages/faces/social/src/components/Timeline/README.md
  packages/faces/social/src/components/Timeline/context.ts
  packages/faces/social/src/components/Timeline/index.ts
  packages/faces/social/src/generics/README.md
  packages/faces/social/src/generics/adapters.ts
  packages/faces/social/src/generics/index.ts
  packages/faces/social/src/index.ts
  packages/faces/social/src/patterns/index.ts
  packages/greater-components/scripts/build.js
  packages/shared/admin/src/Cost/context.ts
  packages/shared/admin/src/Insights/context.ts
  packages/shared/admin/src/TrustGraph/context.ts
  packages/shared/admin/src/index.ts
  packages/shared/compose/src/context.ts
  packages/shared/compose/src/index.ts
  packages/shared/messaging/src/index.ts
  packages/shared/notifications/src/context.ts
  packages/shared/notifications/src/index.ts
  packages/shared/search/src/index.ts
Owners: @equaltoai/docs-team, @equaltoai/core-team

fix: use valid DCO action (tim-actions/dco)
  .github/workflows/dco.yml
Owners: @equaltoai/devops

fix: resolve TypeScript errors in typecheck
  apps/playground/svelte.config.js
  packages/primitives/src/utils/smoothThemeTransition.ts
  tsconfig.json
Owners: @equaltoai/devops, @equaltoai/ui-team, @equaltoai/core-team

fix: fix usage and inline script interpolation in layout
  apps/playground/src/routes/+layout.svelte
Owners: @equaltoai/docs-team

fix: resolve ESLint errors in layout
  apps/playground/src/routes/+layout.svelte
Owners: @equaltoai/docs-team

and yet more cleanup
  packages/tokens/package.json
Owners: @equaltoai/design-system

and yet more cleanup
  apps/playground/src/app.css
  packages/tokens/src/index.ts
  packages/tokens/src/themes.json
Owners: @equaltoai/docs-team, @equaltoai/design-system

a11y fix
  package.json
  packages/faces/social/src/theme.css
  scripts/run-a11y-ci.js
Owners: @equaltoai/core-team, @equaltoai/devops

a11y fix
  .github/workflows/a11y.yml
Owners: @equaltoai/devops

a11y fix
  .changeset/breezy-cats-dance.md
  .github/workflows/a11y.yml
  package.json
  packages/content/CHANGELOG.md
  packages/content/package.json
  packages/faces/social/CHANGELOG.md
  packages/faces/social/package.json
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  packages/shared/admin/CHANGELOG.md
  packages/shared/admin/package.json
  packages/shared/auth/CHANGELOG.md
  packages/shared/auth/package.json
  packages/shared/chat/CHANGELOG.md
  packages/shared/chat/package.json
  packages/shared/compose/CHANGELOG.md
  packages/shared/compose/package.json
  packages/shared/messaging/CHANGELOG.md
  packages/shared/messaging/package.json
  packages/shared/notifications/CHANGELOG.md
  packages/shared/notifications/package.json
  packages/shared/search/CHANGELOG.md
  packages/shared/search/package.json
Owners: @equaltoai/docs-team, @equaltoai/devops, @equaltoai/core-team, @equaltoai/ui-team

test(compose): improve coverage for compose components
  packages/shared/compose/tests/DraftManager.test.ts
  packages/shared/compose/tests/Editor.test.ts
  packages/shared/compose/tests/MediaUpload.test.ts
  packages/shared/compose/tests/ThreadComposer.test.ts
  packages/shared/compose/tests/ThreadControls.test.ts
Owners: @equaltoai/core-team

test(auth): improve coverage to >60%
  packages/shared/auth/manifest.json
  packages/shared/auth/package.json
  packages/shared/auth/src/LoginForm.svelte
  packages/shared/auth/src/RegisterForm.svelte
  packages/shared/auth/src/TwoFactorSetup.svelte
  packages/shared/auth/src/TwoFactorVerify.svelte
  packages/shared/auth/src/WalletConnect.svelte
  packages/shared/auth/src/WebAuthnSetup.svelte
  packages/shared/auth/tests/BackupCodes.test.ts
  packages/shared/auth/tests/LoginForm.test.ts
  packages/shared/auth/tests/OAuthConsent.test.ts
  packages/shared/auth/tests/PasswordReset.test.ts
  packages/shared/auth/tests/RegisterForm.test.ts
  packages/shared/auth/tests/TwoFactorSetupComponent.test.ts
  packages/shared/auth/tests/TwoFactorVerifyComponent.test.ts
  packages/shared/auth/tests/WalletConnect.test.ts
  packages/shared/auth/tests/WebAuthnSetupComponent.test.ts
  packages/shared/auth/tests/fixtures/TestWrapper.svelte
Owners: @equaltoai/core-team

test(coverage): improve coverage for notifications, tokens, and blog
  packages/faces/blog/tests/Article.test.ts
  packages/faces/blog/tests/fixtures/ArticleTestWrapper.svelte
  packages/faces/blog/vitest.config.ts
  packages/shared/notifications/src/Group.svelte
  packages/shared/notifications/tests/Filter.test.ts
  packages/shared/notifications/tests/Group.test.ts
  packages/shared/notifications/tests/Item.test.ts
  packages/shared/notifications/tests/NotificationFilters.test.ts
  packages/shared/notifications/tests/PushNotificationSettings.test.ts
  packages/shared/notifications/tests/Root.test.ts
  packages/tokens/tests/palette-utils.test.ts
Owners: @equaltoai/core-team, @equaltoai/devops, @equaltoai/design-system

test(adapters): add comprehensive unit tests for transport classes
  packages/adapters/src/SseClient.ts
  packages/adapters/src/__tests__/SseClient.test.ts
  packages/adapters/src/__tests__/TransportFallback.test.ts
  packages/adapters/src/__tests__/TransportManager.test.ts
  packages/adapters/src/__tests__/WebSocketClient.test.ts
  packages/adapters/src/__tests__/WebSocketPool.test.ts
Owners: @equaltoai/backend-team

test(coverage): expand coverage for compose package
  packages/shared/compose/tests/DraftManager.test.ts
  packages/shared/compose/tests/EditorWithAutocomplete.test.ts
  packages/shared/compose/tests/GraphQLAdapter.test.ts
  packages/shared/compose/tests/ImageEditor.test.ts
  packages/shared/compose/tests/MediaUpload.test.ts
Owners: @equaltoai/core-team

test(icons): add registry and improved SSR tests
  packages/icons/tests/icons-ssr.test.ts
  packages/icons/tests/registry.test.ts
Owners: @equaltoai/design-system

test(primitives): expand coverage for Badge, Button, Select, and Menu
  packages/primitives/src/components/Menu/Content.svelte
  packages/primitives/src/components/Select.svelte
  packages/primitives/tests/Badge.test.ts
  packages/primitives/tests/MenuCompound.test.ts
  packages/primitives/tests/button.test.ts
  packages/primitives/tests/harness/BadgeHarness.svelte
  packages/primitives/tests/harness/MenuCompoundHarness.svelte
  packages/primitives/tests/select.test.ts
  packages/primitives/tests/setup.ts
Owners: @equaltoai/ui-team

test(adapters): enhance coverage for transports and manager
  packages/adapters/src/WebSocketClient.ts
  packages/adapters/src/__tests__/SseClient.test.ts
  packages/adapters/src/__tests__/TransportManager.test.ts
  packages/adapters/src/__tests__/WebSocketClient.test.ts
Owners: @equaltoai/backend-team

test(chat): improve coverage for chat components and context
  packages/shared/chat/tests/ChatInput.test.ts
  packages/shared/chat/tests/ChatMessageAction.test.ts
  packages/shared/chat/tests/ChatThreadView.test.ts
  packages/shared/chat/tests/ContextLogic.test.ts
  packages/shared/chat/tests/harness/ContextLogicHarness.svelte
  packages/shared/chat/tests/harness/ContextTester.svelte
Owners: @equaltoai/core-team

test(social): add component tests and improve coverage
  packages/faces/social/src/components/ComposeBox.svelte
  packages/faces/social/src/components/NotificationItem.svelte
  packages/faces/social/src/components/StatusCard.svelte
  packages/faces/social/tests/components/ActionBar.test.ts
  packages/faces/social/tests/components/ComposeBox.test.ts
  packages/faces/social/tests/components/NotificationComponents.test.ts
  packages/faces/social/tests/components/ProfileHeader.test.ts
  packages/faces/social/tests/components/StatusCard.test.ts
  packages/faces/social/tests/components/TimelineVirtualized.test.ts
  packages/faces/social/tests/setup.ts
  packages/faces/social/vitest.config.ts
Owners: @equaltoai/core-team, @equaltoai/devops

test(adapters): increase coverage for lesser mappers, graphql adapter, and stores
  packages/adapters/src/graphql/__tests__/LesserGraphQLAdapter.test.ts
  packages/adapters/src/graphql/__tests__/verifyCredentials.test.ts
  packages/adapters/src/mappers/lesser/__tests__/mappers.test.ts
  packages/adapters/src/stores/__tests__/fetchHelpers.test.ts
  packages/adapters/src/stores/__tests__/timelineStore.test.ts
  packages/adapters/src/stores/__tests__/unifiedToTimeline.test.ts
Owners: @equaltoai/backend-team

test(social): increase coverage for Profile, Timeline and Feed components
  packages/faces/social/src/components/NotificationsFeedReactive.svelte
  packages/faces/social/src/utils/notificationGrouping.ts
  packages/faces/social/tests/components/NotificationsFeedReactive.test.ts
  packages/faces/social/tests/components/Profile/EditTest.svelte
  packages/faces/social/tests/components/Profile/HeaderTest.svelte
  packages/faces/social/tests/components/Profile/PrivacySettingsTest.svelte
  packages/faces/social/tests/components/Profile/ProfileEdit.test.ts
  packages/faces/social/tests/components/Profile/ProfileHeader.test.ts
  packages/faces/social/tests/components/Profile/ProfilePrivacySettings.test.ts
  packages/faces/social/tests/components/Profile/ProfileStats.test.ts
  packages/faces/social/tests/components/Profile/StatsTest.svelte
  packages/faces/social/tests/components/Timeline/TimelineComponents.test.ts
  packages/faces/social/tests/components/Timeline/TimelineTest.svelte
  packages/faces/social/tests/components/TimelineVirtualizedReactive.test.ts
  packages/faces/social/vitest.config.ts
Owners: @equaltoai/core-team, @equaltoai/devops

test expansion
  docs/coverage-improvement-plan-v2.md
  docs/coverage-improvement-plan.md
  packages/shared/admin/tests/Context.test.ts
  packages/shared/admin/tests/ContextHarness.svelte
  packages/shared/admin/tests/Cost.test.ts
  packages/shared/admin/tests/CostBudgetControlsHarness.svelte
  packages/shared/admin/tests/Settings.test.ts
  packages/shared/admin/tests/TrustGraph.test.ts
  packages/shared/admin/tests/TrustGraphRelationshipListHarness.svelte
  packages/shared/auth/tests/auth-flows.test.ts
  packages/shared/auth/tests/context-utils.test.ts
  test_output.txt
Owners: @equaltoai/docs-team, @equaltoai/core-team

baseline
  packages/content/tests/CodeBlock.test.ts
  packages/content/tests/MarkdownRenderer.test.ts
  packages/content/tests/setup.ts
  packages/primitives/src/theme.css
  packages/shared/auth/tests/auth-context.test.ts
  packages/shared/auth/tests/auth-instance-selector.test.ts
  packages/shared/auth/tests/fixtures/AuthHarness.svelte
  packages/shared/auth/tests/fixtures/InstanceSelectorHarness.svelte
Owners: @equaltoai/core-team, @equaltoai/ui-team

docs updates
  apps/docs/src/routes/guides/animations/+page.svelte
  apps/docs/src/routes/guides/dark-mode/+page.svelte
  apps/docs/src/routes/guides/theming/+page.svelte
  apps/playground/src/lib/components/CodeExample.svelte
  apps/playground/src/routes/+layout.svelte
  apps/playground/src/routes/demos/alert/+page.svelte
  apps/playground/src/routes/demos/dropdown-menu/+page.svelte
  apps/playground/src/routes/demos/primitives/+page.svelte
  apps/playground/src/routes/examples/oauth-signin/+page.svelte
  apps/playground/src/routes/examples/user-menu/+page.svelte
  docs/README.md
  docs/_concepts.yaml
  docs/api-reference.md
  docs/component-inventory.md
  docs/design/PAY_THEORY_DOCUMENTATION_GUIDE.md
  docs/design/greater-components-suggestions.md
  docs/importing-components.md
  docs/migration-guide.md
  docs/outdated-references-inventory.md
  eslint.config.js
  packages/headless/src/primitives/alert.ts
  packages/headless/src/primitives/menu.ts
  packages/primitives/src/components/Menu/Root.svelte
  packages/primitives/src/components/Menu/context.d.ts
  packages/primitives/src/components/Menu/context.d.ts.map
  packages/primitives/src/components/Menu/context.ts
  packages/primitives/src/components/SimpleMenu.svelte
  packages/primitives/src/components/Tooltip.svelte
  packages/shared/auth/src/SignInCard.svelte
  packages/shared/auth/src/UserButton.svelte
  packages/shared/auth/tests/SignInCard.test.ts
  packages/shared/auth/tests/UserButton.test.ts
  packages/shared/auth/tsconfig.json
  packages/shared/chat/src/ChatMessage.svelte
  packages/shared/chat/src/ChatMessages.svelte
Owners: @equaltoai/docs-team, @equaltoai/devops, @equaltoai/core-team, @equaltoai/ui-team

4.2.6
  .changeset/breezy-cats-dance.md
  packages/faces/social/src/adapters/graphql/index.ts
  packages/faces/social/src/adapters/index.ts
  packages/faces/social/src/components/Filters/index.ts
  packages/faces/social/src/components/Lists/index.ts
  packages/faces/social/src/components/Profile/AccountMigration.svelte
  packages/faces/social/src/components/Profile/EndorsedAccounts.svelte
  packages/faces/social/src/components/Profile/FeaturedHashtags.svelte
  packages/faces/social/src/components/Profile/FollowRequests.svelte
  packages/faces/social/src/components/Profile/FollowersList.svelte
  packages/faces/social/src/components/Profile/FollowingList.svelte
  packages/faces/social/src/components/Profile/PrivacySettings.svelte
  packages/faces/social/src/components/Profile/VerifiedFields.svelte
  packages/faces/social/src/components/Profile/index.ts
  packages/faces/social/src/components/Status/README.md
  packages/faces/social/src/components/Status/context.ts
  packages/faces/social/src/components/Status/index.ts
  packages/faces/social/src/components/Timeline/README.md
  packages/faces/social/src/components/Timeline/context.ts
  packages/faces/social/src/components/Timeline/index.ts
  packages/faces/social/src/generics/README.md
  packages/faces/social/src/generics/adapters.ts
  packages/faces/social/src/generics/index.ts
  packages/faces/social/src/index.ts
  packages/faces/social/src/patterns/index.ts
  packages/greater-components/scripts/build.js
  packages/shared/admin/src/Cost/context.ts
  packages/shared/admin/src/Insights/context.ts
  packages/shared/admin/src/TrustGraph/context.ts
  packages/shared/admin/src/index.ts
  packages/shared/compose/src/context.ts
  packages/shared/compose/src/index.ts
  packages/shared/messaging/src/index.ts
  packages/shared/notifications/src/context.ts
  packages/shared/notifications/src/index.ts
  packages/shared/search/src/index.ts
Owners: @equaltoai/docs-team, @equaltoai/core-team

4.2.6
  package.json
  packages/faces/social/vite.config.ts
  packages/greater-components/tests/smoke.test.ts
  packages/primitives/src/components/Avatar.svelte
  packages/primitives/src/components/Badge.svelte
  packages/primitives/src/components/Menu/Content.svelte
  packages/primitives/src/components/Menu/Trigger.svelte
  packages/primitives/test_output.txt
  packages/primitives/tests/loadingstate.test.ts
  packages/primitives/tests/spinner.test.ts
  packages/shared/auth/src/SignInCard.svelte
  packages/shared/auth/src/UserButton.svelte
  packages/shared/auth/src/context.ts
  packages/shared/auth/test_output.txt
  packages/shared/auth/test_output_debug.txt
  packages/shared/auth/test_output_debug_2.txt
  packages/shared/auth/test_output_debug_3.txt
  packages/shared/auth/tests/LoginForm.test.ts
  packages/shared/auth/tests/SignInCard.test.ts
  packages/shared/auth/tests/UserButton.test.ts
  packages/shared/notifications/tests/NotificationItem.test.ts
  packages/tokens/tests/exports.test.ts
  packages/tokens/tsconfig.json
  pnpm-lock.yaml
Owners: @equaltoai/core-team, @equaltoai/devops, @equaltoai/ui-team, @equaltoai/design-system

fix: use valid DCO action (tim-actions/dco)
  .github/workflows/dco.yml
Owners: @equaltoai/devops

fix: resolve TypeScript errors in typecheck
  apps/playground/svelte.config.js
  packages/primitives/src/utils/smoothThemeTransition.ts
  tsconfig.json
Owners: @equaltoai/devops, @equaltoai/ui-team, @equaltoai/core-team

fix: fix usage and inline script interpolation in layout
  apps/playground/src/routes/+layout.svelte
Owners: @equaltoai/docs-team

fix: resolve ESLint errors in layout
  apps/playground/src/routes/+layout.svelte
Owners: @equaltoai/docs-team

and yet more cleanup
  packages/tokens/package.json
Owners: @equaltoai/design-system

and yet more cleanup
  apps/playground/src/app.css
  packages/tokens/src/index.ts
  packages/tokens/src/themes.json
Owners: @equaltoai/docs-team, @equaltoai/design-system
