Repository equaltoai/greater-components, changes with the owners that CODEOWNERS names for each.
All owners: @equaltoai/core-team, @equaltoai/design-system, @equaltoai/ui-team, @equaltoai/greater-components-fediverse-team, @equaltoai/backend-team, @equaltoai/docs-team, @equaltoai/devops, @equaltoai/release-team, @equaltoai/legal

CODEOWNERS:

# CODEOWNERS for greater-components repository
# These owners will be the default owners for everything in the repo
# unless a later match takes precedence.

# Global owners
* @equaltoai/core-team

# Package-specific ownership
/packages/tokens/ @equaltoai/design-system
/packages/icons/ @equaltoai/design-system
/packages/primitives/ @equaltoai/ui-team
/packages/fediverse/ @equaltoai/greater-components-fediverse-team
/packages/adapters/ @equaltoai/backend-team
/packages/utils/ @equaltoai/core-team

# App ownership
/apps/playground/ @equaltoai/docs-team
/apps/docs/ @equaltoai/docs-team

# Infrastructure and configuration
/.github/ @equaltoai/devops
/scripts/ @equaltoai/devops
*.config.* @equaltoai/devops
.changeset/ @equaltoai/release-team

# Documentation
*.md @equaltoai/docs-team
/docs/ @equaltoai/docs-team

# License and legal
LICENSE @equaltoai/legal
CONTRIBUTING.md @equaltoai/legal @equaltoai/core-team

a11y test fix
  apps/playground/src/routes/+layout.server.ts
  apps/playground/src/routes/+layout.svelte
  apps/playground/src/routes/settings/+page.svelte
  docs/playwright-failure-inventory.md
  image.png
  packages/testing/playwright.a11y.config.ts
  packages/testing/playwright.static.config.ts
  packages/testing/reports/a11y-report-dark-compact.html
  packages/testing/reports/a11y-report-high-contrast-comfortable.html
  packages/testing/scripts/generate-a11y-report.js
  packages/testing/src/playwright/axe-playwright.ts
  packages/testing/tests/demo/a11yReporter.ts
  packages/testing/tests/demo/primitives.spec.ts
  packages/testing/tests/demo/profile.spec.ts
  packages/testing/tests/demo/search.spec.ts
  packages/testing/tests/demo/settings.spec.ts
  packages/testing/tests/demo/tabs.spec.ts
  packages/testing/tests/demo/timeline.spec.ts
Owners: @equaltoai/docs-team, @equaltoai/core-team, @equaltoai/devops

a11y test fix
  apps/playground/src/routes/+layout.svelte
  docs/playwright-failure-inventory.md
  packages/testing/reports/a11y-report-dark-compact.html
Owners: @equaltoai/docs-team, @equaltoai/core-team

a11y test fix
  packages/testing/playwright.a11y.config.ts
  packages/testing/tests/demo/a11yReporter.ts
Owners: @equaltoai/devops, @equaltoai/core-team

more test fixes
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .prettierignore
  apps/playground/src/routes/+layout.server.ts
  apps/playground/src/routes/+layout.svelte
  apps/playground/src/routes/settings/+page.svelte
  docs/ci-issues-2025-11-15.md
  docs/playwright-failure-inventory.md
  packages/primitives/src/components/Menu.svelte
  packages/testing/tests/demo/a11yReporter.ts
  packages/testing/tests/demo/focus.spec.ts
  packages/testing/tests/demo/settings.spec.ts
Owners: @equaltoai/devops, @equaltoai/core-team, @equaltoai/docs-team, @equaltoai/ui-team

yet more test fixes
  .github/workflows/a11y.yml
  .github/workflows/docs.yml
  docs/playwright-failure-inventory.md
  packages/testing/playwright.a11y.config.ts
  packages/testing/reports/a11y-report-dark-compact.html
  packages/testing/tests/a11y/contrast.spec.ts
  packages/testing/tests/a11y/focus.spec.ts
Owners: @equaltoai/devops, @equaltoai/docs-team, @equaltoai/core-team

yet more test fixes
  .github/workflows/a11y.yml
  apps/playground/src/lib/components/DemoPage.svelte
  apps/playground/src/routes/+layout.svelte
  apps/playground/src/routes/+page.svelte
  apps/playground/src/routes/settings/+page.svelte
  apps/playground/src/routes/tabs/+page.svelte
  docs/playwright-failure-inventory.md
  packages/primitives/src/components/Switch.svelte
  packages/primitives/src/components/TextArea.svelte
  packages/primitives/src/components/ThemeSwitcher.svelte
  packages/testing/playwright.a11y.config.ts
  packages/testing/scripts/check-a11y-compliance.js
  packages/testing/tests/a11y/contrast.a11y.test.ts
  packages/testing/tests/a11y/focus.a11y.test.ts
  packages/tokens/scripts/build.js
Owners: @equaltoai/devops, @equaltoai/docs-team, @equaltoai/ui-team, @equaltoai/core-team, @equaltoai/design-system

additional deploy fixes
  apps/playground/src/routes/+layout.svelte
  apps/playground/svelte.config.js
Owners: @equaltoai/docs-team, @equaltoai/devops

a11y fixes
  .github/workflows/a11y.yml
  apps/docs/svelte.config.js
  apps/playground/src/routes/+layout.svelte
  packages/fediverse/src/components/ProfileHeader.svelte
Owners: @equaltoai/devops, @equaltoai/docs-team, @equaltoai/greater-components-fediverse-team

compliance report and lint fixes
  .github/workflows/docs.yml
  apps/playground/src/routes/search/+page.svelte
  apps/playground/src/routes/timeline/+page.svelte
  packages/fediverse/src/components/ContentRenderer.svelte
  packages/fediverse/src/components/ProfileHeader.svelte
  packages/fediverse/src/components/Search/Bar.svelte
  packages/fediverse/src/components/Search/Filters.svelte
  packages/primitives/src/components/Button.svelte
  packages/primitives/src/components/Tabs.svelte
Owners: @equaltoai/devops, @equaltoai/docs-team, @equaltoai/greater-components-fediverse-team, @equaltoai/ui-team

more testing
  packages/cli/tests/commands.test.ts
  packages/greater-components/tests/smoke.test.ts
  packages/headless/tests/menu.test.ts
  packages/icons/src/index.ts
  packages/utils/tests/keyboardShortcuts.test.ts
  packages/utils/tests/performance.test.ts
Owners: @equaltoai/core-team, @equaltoai/design-system

changeset
  .changeset/improved-demo-docs.md
Owners: @equaltoai/docs-team

another changeset retry
  .github/workflows/release.yml
  packages/icons/src/index.d.ts
  packages/icons/src/index.ts
  packages/icons/tests/icons-ssr.test.ts
  packages/icons/vitest.config.ts
  packages/primitives/src/components/FileUpload.svelte
  packages/primitives/tests/avatar.test.ts
  packages/primitives/tests/fileupload.test.ts
  packages/primitives/tests/tabs.test.ts
  packages/primitives/vitest.config.ts
  packages/tokens/vitest.config.ts
  packages/utils/tests/keyboardShortcuts.test.ts
Owners: @equaltoai/devops, @equaltoai/design-system, @equaltoai/ui-team, @equaltoai/core-team

fix(ci): correct DCO action and changesets commands
  .github/workflows/dco.yml
Owners: @equaltoai/devops

fix(ci): remove broken DCO check, fix release workflow
  .github/workflows/dco.yml
Owners: @equaltoai/devops

fix(ci): skip changeset check on release PRs
  .github/workflows/changeset.yml
Owners: @equaltoai/devops

another changeset try
  .github/workflows/release.yml
Owners: @equaltoai/devops

formatting
  packages/icons/src/index.d.ts
  packages/icons/src/index.ts
  packages/icons/tests/icons-ssr.test.ts
  packages/icons/vitest.config.ts
  packages/primitives/src/components/FileUpload.svelte
  packages/primitives/tests/avatar.test.ts
  packages/primitives/tests/fileupload.test.ts
  packages/primitives/tests/tabs.test.ts
  packages/primitives/vitest.config.ts
  packages/tokens/vitest.config.ts
  packages/utils/tests/keyboardShortcuts.test.ts
Owners: @equaltoai/design-system, @equaltoai/devops, @equaltoai/ui-team, @equaltoai/core-team

deploy: 3fa71306210f9928c997cb20d54681e3b8ab4105
  coverage/combined-coverage.json
  coverage/index.html
Owners: @equaltoai/core-team

chore: include greater-components package in changeset
  .changeset/added-layout-typography-components.md
Owners: @equaltoai/docs-team

paicodes update 3
  apps/docs/package.json
  package.json
  packages/adapters/package.json
  packages/cli/package.json
  packages/fediverse/package.json
  packages/greater-components/package.json
  packages/testing/package.json
  pnpm-lock.yaml
Owners: @equaltoai/docs-team, @equaltoai/core-team, @equaltoai/backend-team, @equaltoai/greater-components-fediverse-team

chore: release greater-components v2.0.1
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/fediverse/CHANGELOG.md
  packages/fediverse/package.json
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  packages/primitives/src/components/GradientText.svelte
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Owners: @equaltoai/docs-team, @equaltoai/greater-components-fediverse-team, @equaltoai/core-team, @equaltoai/ui-team

chore: release packages
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/fediverse/CHANGELOG.md
  packages/fediverse/package.json
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  packages/primitives/src/components/GradientText.svelte
Owners: @equaltoai/docs-team, @equaltoai/greater-components-fediverse-team, @equaltoai/core-team, @equaltoai/ui-team

paicodes update 4
  .changeset/unified-css-arch.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/fediverse/CHANGELOG.md
  packages/fediverse/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/icons/src/index.d.ts
  packages/icons/src/index.d.ts.map
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
Owners: @equaltoai/docs-team, @equaltoai/greater-components-fediverse-team, @equaltoai/design-system, @equaltoai/ui-team

paicodes update 5
  .changeset/config.json
  .changeset/fix-release-system.md
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/package.json
  packages/primitives/src/components/CodeBlock.svelte
  packages/primitives/src/theme.css
Owners: @equaltoai/release-team, @equaltoai/docs-team, @equaltoai/core-team, @equaltoai/ui-team

copy button fix
  packages/greater-components/package.json
  packages/primitives/package.json
  packages/primitives/src/components/CopyButton.svelte
  packages/primitives/tests/CopyButton.test.ts
Owners: @equaltoai/core-team, @equaltoai/ui-team

copy button fix
  .changeset/fix-release-system.md
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
Owners: @equaltoai/docs-team, @equaltoai/core-team

more copybutton fun
  docs/PACKAGE-EXPECTATIONS-VS-REALITY.md
  packages/fediverse/CHANGELOG.md
  packages/fediverse/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  packages/primitives/src/theme.css
Owners: @equaltoai/docs-team, @equaltoai/greater-components-fediverse-team, @equaltoai/ui-team

more copybutton fun
  packages/fediverse/CHANGELOG.md
  packages/fediverse/package.json
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
Owners: @equaltoai/docs-team, @equaltoai/greater-components-fediverse-team, @equaltoai/core-team, @equaltoai/ui-team

deploy: 6c10b8fd27689dba22fbee0843319f3d56fb93aa
  coverage/combined-coverage.json
  coverage/index.html
Owners: @equaltoai/core-team

chore: release 2.2.1
  docs/NEW_FEATURES_IMPLEMENTATION_GUIDE.md
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/greater-components/scripts/build.js
Owners: @equaltoai/docs-team, @equaltoai/core-team

chore: release 2.2.2
  apps/playground/src/lib/components/settings/AppearanceSettings.svelte
  apps/playground/src/lib/components/settings/NotificationPreferences.svelte
  apps/playground/src/routes/examples/settings-panel/+page.svelte
  apps/playground/src/routes/examples/theme-customization/+page.svelte
  package.json
  packages/fediverse/src/components/Notifications/PushNotificationSettings.svelte
  packages/fediverse/src/lib/graphqlTimelineStore.ts
  packages/fediverse/tests/components/Profile/Timeline.test.ts
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/src/components/Settings/SettingsField.svelte
  packages/primitives/src/components/Settings/SettingsSection.svelte
  packages/primitives/src/components/Settings/SettingsSelect.svelte
  packages/primitives/src/components/Theme/ColorHarmonyPicker.svelte
  packages/primitives/src/components/Theme/ThemeWorkbench.svelte
  packages/primitives/src/components/ThemeSwitcher.svelte
  packages/primitives/tests/Settings.test.ts
  packages/utils/src/preferences.d.ts
  packages/utils/src/preferences.d.ts.map
  packages/utils/src/preferences.ts
  packages/utils/src/theme/color-harmony.ts
  packages/utils/src/theme/contrast.d.ts.map
  packages/utils/src/theme/contrast.ts
  packages/utils/tests/preferences.test.ts
  scripts/verify-exports.ts
Owners: @equaltoai/docs-team, @equaltoai/core-team, @equaltoai/greater-components-fediverse-team, @equaltoai/ui-team, @equaltoai/devops

deploy: 657d449f28011b961838101f1c9dd8f87d7db870
  coverage/combined-coverage.json
  coverage/index.html
Owners: @equaltoai/core-team

deploy: 2045bd5bf338a72c63d922597a810c2a3f6daa16
  coverage/combined-coverage.json
  coverage/index.html
Owners: @equaltoai/core-team

fix: add isomorphic-dompurify as optional peer dependency
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  pnpm-lock.yaml
Owners: @equaltoai/docs-team, @equaltoai/core-team

deploy: 213d181a20ac31229ac42dae82bc307d9139abf6
  coverage/combined-coverage.json
  coverage/index.html
Owners: @equaltoai/core-team

pai has arrived
  packages/primitives/src/components/ThemeProvider.svelte
Owners: @equaltoai/ui-team

deploy: 20e26dc2fab471942aae45f963f27124eee33237
  coverage/combined-coverage.json
  coverage/index.html
Owners: @equaltoai/core-team

deploy: c4c49d7c0c76a7bf398d8f637e5e7dbb243c42f9
  coverage/combined-coverage.json
  coverage/index.html
Owners: @equaltoai/core-team

4.2.3
  .changeset/chat-component-suite.md
  .changeset/chat-input-placeholder-alignment.md
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/shared/chat/CHANGELOG.md
  packages/shared/chat/package.json
  packages/shared/chat/src/ChatInput.svelte
Owners: @equaltoai/docs-team, @equaltoai/core-team

deploy: 2264f0be936f8ea6b98db8617dff9015702a3692
  coverage/combined-coverage.json
  coverage/index.html
Owners: @equaltoai/core-team
