Repository equaltoai/greater-components, changes with the owners that CODEOWNERS names for each.
All owners: @equaltoai/core-team, @equaltoai/design-system, @equaltoai/ui-team, @equaltoai/greater-components-fediverse-team, @equaltoai/backend-team, @equaltoai/docs-team, @equaltoai/devops, @equaltoai/release-team, @equaltoai/legal

a11y fix
  package.json
  packages/faces/social/src/theme.css
  scripts/run-a11y-ci.js
Owners: @equaltoai/core-team, @equaltoai/devops

a11y fix
  .github/workflows/a11y.yml
Owners: @equaltoai/devops

a11y fix
  .changeset/breezy-cats-dance.md
  .github/workflows/a11y.yml
  package.json
  packages/content/CHANGELOG.md
  packages/content/package.json
  packages/faces/social/CHANGELOG.md
  packages/faces/social/package.json
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  packages/shared/admin/CHANGELOG.md
  packages/shared/admin/package.json
  packages/shared/auth/CHANGELOG.md
  packages/shared/auth/package.json
  packages/shared/chat/CHANGELOG.md
  packages/shared/chat/package.json
  packages/shared/compose/CHANGELOG.md
  packages/shared/compose/package.json
  packages/shared/messaging/CHANGELOG.md
  packages/shared/messaging/package.json
  packages/shared/notifications/CHANGELOG.md
  packages/shared/notifications/package.json
  packages/shared/search/CHANGELOG.md
  packages/shared/search/package.json
Owners: @equaltoai/docs-team, @equaltoai/devops, @equaltoai/core-team, @equaltoai/ui-team

test(auth): improve coverage to >60%
  packages/shared/auth/manifest.json
  packages/shared/auth/package.json
  packages/shared/auth/src/LoginForm.svelte
  packages/shared/auth/src/RegisterForm.svelte
  packages/shared/auth/src/TwoFactorSetup.svelte
  packages/shared/auth/src/TwoFactorVerify.svelte
  packages/shared/auth/src/WalletConnect.svelte
  packages/shared/auth/src/WebAuthnSetup.svelte
  packages/shared/auth/tests/BackupCodes.test.ts
  packages/shared/auth/tests/LoginForm.test.ts
  packages/shared/auth/tests/OAuthConsent.test.ts
  packages/shared/auth/tests/PasswordReset.test.ts
  packages/shared/auth/tests/RegisterForm.test.ts
  packages/shared/auth/tests/TwoFactorSetupComponent.test.ts
  packages/shared/auth/tests/TwoFactorVerifyComponent.test.ts
  packages/shared/auth/tests/WalletConnect.test.ts
  packages/shared/auth/tests/WebAuthnSetupComponent.test.ts
  packages/shared/auth/tests/fixtures/TestWrapper.svelte
Owners: @equaltoai/core-team

test(compose): improve coverage for compose components
  packages/shared/compose/tests/DraftManager.test.ts
  packages/shared/compose/tests/Editor.test.ts
  packages/shared/compose/tests/MediaUpload.test.ts
  packages/shared/compose/tests/ThreadComposer.test.ts
  packages/shared/compose/tests/ThreadControls.test.ts
Owners: @equaltoai/core-team

test(coverage): improve coverage for notifications, tokens, and blog
  packages/faces/blog/tests/Article.test.ts
  packages/faces/blog/tests/fixtures/ArticleTestWrapper.svelte
  packages/faces/blog/vitest.config.ts
  packages/shared/notifications/src/Group.svelte
  packages/shared/notifications/tests/Filter.test.ts
  packages/shared/notifications/tests/Group.test.ts
  packages/shared/notifications/tests/Item.test.ts
  packages/shared/notifications/tests/NotificationFilters.test.ts
  packages/shared/notifications/tests/PushNotificationSettings.test.ts
  packages/shared/notifications/tests/Root.test.ts
  packages/tokens/tests/palette-utils.test.ts
Owners: @equaltoai/core-team, @equaltoai/devops, @equaltoai/design-system

test(adapters): add comprehensive unit tests for transport classes
  packages/adapters/src/SseClient.ts
  packages/adapters/src/__tests__/SseClient.test.ts
  packages/adapters/src/__tests__/TransportFallback.test.ts
  packages/adapters/src/__tests__/TransportManager.test.ts
  packages/adapters/src/__tests__/WebSocketClient.test.ts
  packages/adapters/src/__tests__/WebSocketPool.test.ts
Owners: @equaltoai/backend-team

test(coverage): expand coverage for compose package
  packages/shared/compose/tests/DraftManager.test.ts
  packages/shared/compose/tests/EditorWithAutocomplete.test.ts
  packages/shared/compose/tests/GraphQLAdapter.test.ts
  packages/shared/compose/tests/ImageEditor.test.ts
  packages/shared/compose/tests/MediaUpload.test.ts
Owners: @equaltoai/core-team

test(icons): add registry and improved SSR tests
  packages/icons/tests/icons-ssr.test.ts
  packages/icons/tests/registry.test.ts
Owners: @equaltoai/design-system

test(primitives): expand coverage for Badge, Button, Select, and Menu
  packages/primitives/src/components/Menu/Content.svelte
  packages/primitives/src/components/Select.svelte
  packages/primitives/tests/Badge.test.ts
  packages/primitives/tests/MenuCompound.test.ts
  packages/primitives/tests/button.test.ts
  packages/primitives/tests/harness/BadgeHarness.svelte
  packages/primitives/tests/harness/MenuCompoundHarness.svelte
  packages/primitives/tests/select.test.ts
  packages/primitives/tests/setup.ts
Owners: @equaltoai/ui-team

test(adapters): enhance coverage for transports and manager
  packages/adapters/src/WebSocketClient.ts
  packages/adapters/src/__tests__/SseClient.test.ts
  packages/adapters/src/__tests__/TransportManager.test.ts
  packages/adapters/src/__tests__/WebSocketClient.test.ts
Owners: @equaltoai/backend-team

test(chat): improve coverage for chat components and context
  packages/shared/chat/tests/ChatInput.test.ts
  packages/shared/chat/tests/ChatMessageAction.test.ts
  packages/shared/chat/tests/ChatThreadView.test.ts
  packages/shared/chat/tests/ContextLogic.test.ts
  packages/shared/chat/tests/harness/ContextLogicHarness.svelte
  packages/shared/chat/tests/harness/ContextTester.svelte
Owners: @equaltoai/core-team

test(social): add component tests and improve coverage
  packages/faces/social/src/components/ComposeBox.svelte
  packages/faces/social/src/components/NotificationItem.svelte
  packages/faces/social/src/components/StatusCard.svelte
  packages/faces/social/tests/components/ActionBar.test.ts
  packages/faces/social/tests/components/ComposeBox.test.ts
  packages/faces/social/tests/components/NotificationComponents.test.ts
  packages/faces/social/tests/components/ProfileHeader.test.ts
  packages/faces/social/tests/components/StatusCard.test.ts
  packages/faces/social/tests/components/TimelineVirtualized.test.ts
  packages/faces/social/tests/setup.ts
  packages/faces/social/vitest.config.ts
Owners: @equaltoai/core-team, @equaltoai/devops

test(adapters): increase coverage for lesser mappers, graphql adapter, and stores
  packages/adapters/src/graphql/__tests__/LesserGraphQLAdapter.test.ts
  packages/adapters/src/graphql/__tests__/verifyCredentials.test.ts
  packages/adapters/src/mappers/lesser/__tests__/mappers.test.ts
  packages/adapters/src/stores/__tests__/fetchHelpers.test.ts
  packages/adapters/src/stores/__tests__/timelineStore.test.ts
  packages/adapters/src/stores/__tests__/unifiedToTimeline.test.ts
Owners: @equaltoai/backend-team

test(social): increase coverage for Profile, Timeline and Feed components
  packages/faces/social/src/components/NotificationsFeedReactive.svelte
  packages/faces/social/src/utils/notificationGrouping.ts
  packages/faces/social/tests/components/NotificationsFeedReactive.test.ts
  packages/faces/social/tests/components/Profile/EditTest.svelte
  packages/faces/social/tests/components/Profile/HeaderTest.svelte
  packages/faces/social/tests/components/Profile/PrivacySettingsTest.svelte
  packages/faces/social/tests/components/Profile/ProfileEdit.test.ts
  packages/faces/social/tests/components/Profile/ProfileHeader.test.ts
  packages/faces/social/tests/components/Profile/ProfilePrivacySettings.test.ts
  packages/faces/social/tests/components/Profile/ProfileStats.test.ts
  packages/faces/social/tests/components/Profile/StatsTest.svelte
  packages/faces/social/tests/components/Timeline/TimelineComponents.test.ts
  packages/faces/social/tests/components/Timeline/TimelineTest.svelte
  packages/faces/social/tests/components/TimelineVirtualizedReactive.test.ts
  packages/faces/social/vitest.config.ts
Owners: @equaltoai/core-team, @equaltoai/devops

test expansion
  docs/coverage-improvement-plan-v2.md
  docs/coverage-improvement-plan.md
  packages/shared/admin/tests/Context.test.ts
  packages/shared/admin/tests/ContextHarness.svelte
  packages/shared/admin/tests/Cost.test.ts
  packages/shared/admin/tests/CostBudgetControlsHarness.svelte
  packages/shared/admin/tests/Settings.test.ts
  packages/shared/admin/tests/TrustGraph.test.ts
  packages/shared/admin/tests/TrustGraphRelationshipListHarness.svelte
  packages/shared/auth/tests/auth-flows.test.ts
  packages/shared/auth/tests/context-utils.test.ts
  test_output.txt
Owners: @equaltoai/docs-team, @equaltoai/core-team

test(primitives): improve coverage for Alert, Menu, Transitions and fixes config
  packages/primitives/tests/Alert.test.ts
  packages/primitives/tests/MenuCompound.test.ts
  packages/primitives/tests/SimpleMenu.test.ts
  packages/primitives/tests/harness/MenuHeaderHarness.svelte
  packages/primitives/tests/harness/SimpleMenuHarness.svelte
  packages/primitives/tests/heading.test.ts
  packages/primitives/tests/setup.ts
  packages/primitives/tests/smoothThemeTransition.test.ts
  packages/primitives/tests/transitions.test.ts
  packages/primitives/vitest.config.ts
Owners: @equaltoai/ui-team, @equaltoai/devops

test(icons): add comprehensive prop tests and remove mocks
  packages/icons/tests/debug.test.ts
  packages/icons/tests/icons-comprehensive.test.ts
  packages/icons/tests/setup.ts
Owners: @equaltoai/design-system

test(cli): expand coverage for core commands
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/doctor.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/list.ts
  packages/cli/src/commands/update.ts
  packages/cli/tests/add.test.ts
  packages/cli/tests/doctor.test.ts
  packages/cli/tests/init.test.ts
  packages/cli/tests/list.test.ts
  packages/cli/tests/update.unit.test.ts
Owners: @equaltoai/core-team

test(cli): complete test coverage expansion
  packages/cli/tests/face-installer.test.ts
Owners: @equaltoai/core-team

test(shared): add tests for messaging and search components, fix bugs and imports
  packages/icons/tests/debug.test.ts
  packages/shared/messaging/src/Composer.svelte
  packages/shared/messaging/src/ConversationPicker.svelte
  packages/shared/messaging/src/Conversations.svelte
  packages/shared/messaging/src/MediaUpload.svelte
  packages/shared/messaging/src/Message.svelte
  packages/shared/messaging/src/NewConversation.svelte
  packages/shared/messaging/src/Root.svelte
  packages/shared/messaging/src/Thread.svelte
  packages/shared/messaging/src/UnreadIndicator.svelte
  packages/shared/messaging/tests/messaging.test.ts
  packages/shared/search/src/ActorResult.svelte
  packages/shared/search/src/Bar.svelte
  packages/shared/search/src/FederatedSearch.svelte
  packages/shared/search/src/Filters.svelte
  packages/shared/search/src/NoteResult.svelte
  packages/shared/search/src/Results.svelte
  packages/shared/search/src/Root.svelte
  packages/shared/search/src/TagResult.svelte
  packages/shared/search/tests/search.test.ts
Owners: @equaltoai/design-system, @equaltoai/core-team

test(faces/social): Improve coverage for social components
  packages/faces/social/tests/components/NotificationsFeedReactive.test.ts
  packages/faces/social/tests/components/TimelineVirtualizedReactive.test.ts
  packages/faces/social/tests/components/Wrapper.svelte
  packages/faces/social/tests/components/coverage-harness.ts
  packages/faces/social/tests/components/coverage.test.ts
  packages/faces/social/vitest.config.ts
Owners: @equaltoai/core-team, @equaltoai/devops

test(coverage): expand tests for faces/community and shared/auth
  packages/faces/community/tests/render.test.ts
  packages/faces/community/vitest.config.ts
  packages/shared/auth/src/WalletConnect.svelte
  packages/shared/auth/tests/InstanceSelector.interactions.test.ts
  packages/shared/auth/tests/OAuthConsent.variants.test.ts
  packages/shared/auth/tests/UserButton.mocked.test.ts
  packages/shared/auth/tests/WalletConnect.test.ts
  packages/shared/auth/tests/fixtures/InstanceSelectorTestHarness.svelte
  packages/shared/auth/tests/fixtures/MockMenu.svelte
  packages/shared/auth/tests/fixtures/MockMenuItem.svelte
Owners: @equaltoai/core-team, @equaltoai/devops

test(messaging): expand and improve component test coverage
  packages/shared/messaging/tests/Composer.test.ts
  packages/shared/messaging/tests/ConversationPicker.test.ts
  packages/shared/messaging/tests/Conversations.test.ts
  packages/shared/messaging/tests/MediaUpload.test.ts
  packages/shared/messaging/tests/Message.test.ts
  packages/shared/messaging/tests/NewConversation.test.ts
  packages/shared/messaging/tests/Root.test.ts
  packages/shared/messaging/tests/Thread.test.ts
  packages/shared/messaging/tests/UnreadIndicator.test.ts
Owners: @equaltoai/core-team

test(faces/social): improve component test coverage
  packages/faces/social/tests/components/ComposeBox.test.ts
  packages/faces/social/tests/components/NotificationsFeedReactive.test.ts
  packages/faces/social/tests/components/Status/Actions.test.ts
  packages/faces/social/tests/components/Status/Root.test.ts
Owners: @equaltoai/core-team

test(faces/social): add tests for SettingsPanel
  packages/faces/social/tests/components/SettingsPanel.test.ts
Owners: @equaltoai/core-team

test(faces/social): add tests for Status Content and Media components
  packages/faces/social/tests/components/Status/Content.test.ts
  packages/faces/social/tests/components/Status/Media.test.ts
Owners: @equaltoai/core-team

test(artist): add coverage harness and initial scenarios for zero-coverage components
  packages/faces/artist/tests/components/ArtistProfileTestWrapper.svelte
  packages/faces/artist/tests/components/Wrapper.svelte
  packages/faces/artist/tests/components/coverage-harness.ts
  packages/faces/artist/tests/components/coverage.test.ts
Owners: @equaltoai/core-team

test and a11y cleanup
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
  README.md
  docs/shadcn-style-implementation-status.md
  docs/shadcn-style-transition-plan.md
  docs/tag-signing-guide.md
  package.json
  packages/adapters/package.json
  packages/cli/package.json
  packages/cli/src/commands/cache.ts
  packages/cli/src/index.ts
  packages/cli/tests/cache.test.ts
  packages/cli/tests/e2e/verification.test.ts
  packages/content/package.json
  packages/faces/artist/package.json
  packages/faces/blog/package.json
  packages/faces/community/package.json
  packages/faces/social/package.json
  packages/greater-components/package.json
  packages/headless/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/shared/admin/package.json
  packages/shared/auth/package.json
  packages/shared/chat/package.json
  packages/shared/compose/package.json
  packages/shared/messaging/package.json
  packages/shared/notifications/package.json
  packages/shared/search/package.json
  packages/testing/package.json
  packages/tokens/package.json
  packages/utils/package.json
Owners: @equaltoai/devops, @equaltoai/docs-team, @equaltoai/core-team, @equaltoai/backend-team, @equaltoai/design-system, @equaltoai/ui-team

CODEOWNERS:

# CODEOWNERS for greater-components repository
# These owners will be the default owners for everything in the repo
# unless a later match takes precedence.

# Global owners
* @equaltoai/core-team

# Package-specific ownership
/packages/tokens/ @equaltoai/design-system
/packages/icons/ @equaltoai/design-system
/packages/primitives/ @equaltoai/ui-team
/packages/fediverse/ @equaltoai/greater-components-fediverse-team
/packages/adapters/ @equaltoai/backend-team
/packages/utils/ @equaltoai/core-team

# App ownership
/apps/playground/ @equaltoai/docs-team
/apps/docs/ @equaltoai/docs-team

# Infrastructure and configuration
/.github/ @equaltoai/devops
/scripts/ @equaltoai/devops
*.config.* @equaltoai/devops
.changeset/ @equaltoai/release-team

# Documentation
*.md @equaltoai/docs-team
/docs/ @equaltoai/docs-team

# License and legal
LICENSE @equaltoai/legal
CONTRIBUTING.md @equaltoai/legal @equaltoai/core-team
