Repository equaltoai/greater-components, changes with the owners that CODEOWNERS names for each.
All owners: @equaltoai/core-team, @equaltoai/design-system, @equaltoai/ui-team, @equaltoai/greater-components-fediverse-team, @equaltoai/backend-team, @equaltoai/docs-team, @equaltoai/devops, @equaltoai/release-team, @equaltoai/legal

CODEOWNERS:

# CODEOWNERS for greater-components repository
# These owners will be the default owners for everything in the repo
# unless a later match takes precedence.

# Global owners
* @equaltoai/core-team

# Package-specific ownership
/packages/tokens/ @equaltoai/design-system
/packages/icons/ @equaltoai/design-system
/packages/primitives/ @equaltoai/ui-team
/packages/fediverse/ @equaltoai/greater-components-fediverse-team
/packages/adapters/ @equaltoai/backend-team
/packages/utils/ @equaltoai/core-team

# App ownership
/apps/playground/ @equaltoai/docs-team
/apps/docs/ @equaltoai/docs-team

# Infrastructure and configuration
/.github/ @equaltoai/devops
/scripts/ @equaltoai/devops
*.config.* @equaltoai/devops
.changeset/ @equaltoai/release-team

# Documentation
*.md @equaltoai/docs-team
/docs/ @equaltoai/docs-team

# License and legal
LICENSE @equaltoai/legal
CONTRIBUTING.md @equaltoai/legal @equaltoai/core-team

v1.0.2
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/package.json
  packages/primitives/scripts/generate-dts.js
  packages/primitives/src/components/Checkbox.svelte
  packages/primitives/src/components/FileUpload.svelte
  packages/primitives/src/components/Select.svelte
  packages/primitives/src/components/Switch.svelte
  packages/primitives/src/components/TextArea.svelte
  packages/primitives/src/index.ts
  packages/primitives/vite.config.ts
Owners: @equaltoai/docs-team, @equaltoai/core-team, @equaltoai/ui-team, @equaltoai/devops

v1.0.2
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/package.json
  packages/primitives/scripts/generate-dts.js
  packages/primitives/src/components/Checkbox.svelte
  packages/primitives/src/components/FileUpload.svelte
  packages/primitives/src/components/Select.svelte
  packages/primitives/src/components/Switch.svelte
  packages/primitives/src/components/TextArea.svelte
  packages/primitives/src/index.ts
  packages/primitives/vite.config.ts
Owners: @equaltoai/docs-team, @equaltoai/core-team, @equaltoai/ui-team, @equaltoai/devops

v1.0.3
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/cache.ts
  packages/adapters/src/graphql/client.ts
  packages/adapters/src/graphql/optimistic.ts
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
Owners: @equaltoai/backend-team, @equaltoai/docs-team, @equaltoai/core-team

v1.0.3
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/cache.ts
  packages/adapters/src/graphql/client.ts
  packages/adapters/src/graphql/optimistic.ts
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
Owners: @equaltoai/backend-team, @equaltoai/docs-team, @equaltoai/core-team

v1.0.4
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/cache.ts
  packages/adapters/src/graphql/client.ts
  packages/adapters/src/graphql/optimistic.ts
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
Owners: @equaltoai/backend-team, @equaltoai/docs-team, @equaltoai/core-team

v1.0.4
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/cache.ts
  packages/adapters/src/graphql/client.ts
  packages/adapters/src/graphql/optimistic.ts
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
Owners: @equaltoai/backend-team, @equaltoai/docs-team, @equaltoai/core-team

fix: package.json to reduce vulnerabilities
  package.json
Owners: @equaltoai/core-team

beginning cleanup
  .gitignore
  FINAL_STATUS.md
  GRAPHQL_IMPLEMENTATION_SUMMARY.md
  GRAPHQL_INTEGRATION_STATUS.md
  GRAPHQL_PHASE_COMPLETION_REPORT.md
  IMPLEMENTATION_COMPLETE.md
  JSR_QUICK_START.md
  LESSER_USAGE.md
  PHASE_2_COMPLETION_REPORT.md
  PHASE_2_FINAL.md
  PHASE_3_COMPLETION_REPORT.md
  PHASE_4_COMPLETION_REPORT.md
Owners: @equaltoai/core-team, @equaltoai/docs-team

codeql + lint cleanup
  .github/workflows/a11y.yml
  .github/workflows/changeset.yml
  .github/workflows/coverage.yml
  .github/workflows/dco.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  apps/docs/package.json
  apps/playground/package.json
  package.json
  packages/adapters/package.json
  packages/adapters/src/graphql/client.ts
  packages/adapters/src/stores/presenceStore.ts
  packages/fediverse/package.json
  packages/fediverse/src/adapters/graphql/client.ts
  packages/fediverse/src/components/Compose/UnicodeCounter.ts
  packages/fediverse/tests/NotificationItem.test.ts
  packages/fediverse/tests/Profile/AccountMigration.test.ts
  packages/fediverse/tests/Profile/EndorsedAccountsAndHashtags.test.ts
  packages/fediverse/tests/Profile/PrivacySettings.test.ts
  packages/fediverse/tests/Profile/VerifiedFields.test.ts
  packages/fediverse/tests/ProfileHeader.test.ts
  packages/fediverse/tests/helpers/text.ts
  packages/fediverse/tests/patterns/ContentWarningHandler.test.ts
  packages/fediverse/tests/patterns/ModerationTools.test.ts
  packages/headless/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/primitives/src/components/Avatar.svelte
  packages/primitives/src/components/Skeleton.svelte
  packages/testing/package.json
  packages/testing/scripts/generate-comprehensive-report.js
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/aggregate-coverage.js
  scripts/publish-jsr.js
  scripts/validate-release.js
Owners: @equaltoai/devops, @equaltoai/docs-team, @equaltoai/core-team, @equaltoai/backend-team, @equaltoai/greater-components-fediverse-team, @equaltoai/design-system, @equaltoai/ui-team

workflows fix
  .github/workflows/security.yml
Owners: @equaltoai/devops

additional codeql
  .github/workflows/security.yml
Owners: @equaltoai/devops

additional codeql
  .github/workflows/security.yml
Owners: @equaltoai/devops

Create codeql.yml
  .github/workflows/codeql.yml
Owners: @equaltoai/devops

additional codeql
  packages/fediverse/src/adapters/graphql/client.ts
  packages/fediverse/tests/Profile/EndorsedAccountsAndHashtags.test.ts
  packages/fediverse/tests/Profile/PrivacySettings.test.ts
Owners: @equaltoai/greater-components-fediverse-team

tests are green
  packages/fediverse/tests/Profile/EndorsedAccountsAndHashtags.test.ts
  packages/fediverse/tests/Profile/PrivacySettings.test.ts
Owners: @equaltoai/greater-components-fediverse-team

tests are green
  packages/fediverse/src/adapters/graphql/client.ts
  packages/fediverse/tests/Profile/VerifiedFields.test.ts
Owners: @equaltoai/greater-components-fediverse-team

v1.0.22
  .changeset/add-actor-timeline-support.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/adapters/CHANGELOG.md
  packages/adapters/package.json
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/cache.ts
  packages/adapters/src/graphql/client.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/mappers/lesser/__tests__/graphqlConverters.test.ts
  packages/adapters/src/mappers/lesser/graphqlConverters.ts
  packages/fediverse/CHANGELOG.md
  packages/fediverse/package.json
  packages/fediverse/src/adapters/graphql/documents/fragments.graphql
  packages/fediverse/src/adapters/graphql/generated/introspection.json
  packages/fediverse/src/adapters/graphql/generated/types.ts
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  packages/primitives/src/components/TextField.svelte
  schemas/lesser/schema.graphql
  test-apps/astro-client-only/CHANGELOG.md
  test-apps/astro-client-only/package.json
Owners: @equaltoai/docs-team, @equaltoai/backend-team, @equaltoai/greater-components-fediverse-team, @equaltoai/core-team, @equaltoai/ui-team

tab fixes and schema update
  packages/adapters/src/graphql/generated/types.ts
  packages/fediverse/src/adapters/graphql/documents/notes.graphql
  packages/fediverse/src/adapters/graphql/generated/introspection.json
  packages/fediverse/src/adapters/graphql/generated/types.ts
  packages/greater-components/package.json
  packages/primitives/scripts/build-css.js
  packages/primitives/src/components/Tabs.svelte
  pnpm-lock.yaml
  schemas/lesser/schema.graphql
  scripts/test-tabs-restprops.mjs
Owners: @equaltoai/backend-team, @equaltoai/greater-components-fediverse-team, @equaltoai/core-team, @equaltoai/ui-team, @equaltoai/devops

one more tab fix and v1.0.24
  packages/greater-components/CHANGELOG.md
  packages/greater-components/README.md
  packages/greater-components/package.json
  packages/primitives/src/components/Tabs.svelte
Owners: @equaltoai/docs-team, @equaltoai/core-team, @equaltoai/ui-team

one more tab fix and v1.0.25
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/fediverse/CHANGELOG.md
  packages/fediverse/package.json
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  packages/primitives/src/components/Tabs.svelte
  test-apps/astro-client-only/CHANGELOG.md
  test-apps/astro-client-only/package.json
Owners: @equaltoai/docs-team, @equaltoai/greater-components-fediverse-team, @equaltoai/core-team, @equaltoai/ui-team

pages demo
  .github/workflows/deploy-playground.yml
  apps/playground/package.json
  apps/playground/src/lib/data/fediverse.test.ts
  apps/playground/src/lib/data/fediverse.ts
  apps/playground/src/lib/stores/storage.ts
  apps/playground/src/routes/+layout.ts
  apps/playground/svelte.config.js
  packages/fediverse/tests/setup.ts
  packages/fediverse/tests/timelineStore.test.ts
  packages/fediverse/vitest.config.ts
  packages/icons/src/index.ts
  pnpm-lock.yaml
Owners: @equaltoai/devops, @equaltoai/docs-team, @equaltoai/greater-components-fediverse-team, @equaltoai/design-system, @equaltoai/core-team

nojekyll
  .github/workflows/deploy-playground.yml
Owners: @equaltoai/devops

full build for pages
  .github/workflows/deploy-playground.yml
  apps/playground/package.json
  apps/playground/scripts/export-static.mjs
Owners: @equaltoai/devops, @equaltoai/docs-team

fuller build for pages
  .github/workflows/deploy-playground.yml
Owners: @equaltoai/devops

fuller build for pages
  .github/workflows/deploy-playground.yml
Owners: @equaltoai/devops

fuller build for pages
  apps/playground/package.json
  apps/playground/src/routes/+layout.svelte
  apps/playground/src/routes/+page.svelte
  apps/playground/static/favicon.png
  pnpm-lock.yaml
Owners: @equaltoai/docs-team, @equaltoai/core-team

dependency updates
  .github/workflows/a11y.yml
  .github/workflows/changeset.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/dco.yml
  .github/workflows/deploy-playground.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
  .github/workflows/test.yml
  apps/docs/package.json
  apps/playground/package.json
  apps/playground/scripts/export-static.mjs
  eslint.config.js
  package.json
  packages/adapters/package.json
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/cache.ts
  packages/adapters/src/graphql/client.ts
  packages/adapters/src/graphql/optimistic.ts
  packages/cli/package.json
  packages/fediverse/package.json
  packages/fediverse/tests/setup.ts
  packages/greater-components/package.json
  packages/headless/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/testing/package.json
  packages/tokens/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Owners: @equaltoai/devops, @equaltoai/docs-team, @equaltoai/core-team, @equaltoai/backend-team, @equaltoai/greater-components-fediverse-team, @equaltoai/design-system, @equaltoai/ui-team

workflow updates
  .github/workflows/a11y.yml
  .github/workflows/changeset.yml
  .github/workflows/coverage.yml
  .github/workflows/deploy-playground.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
  .github/workflows/test.yml
Owners: @equaltoai/devops

more workflow updates
  apps/playground/package.json
  packages/adapters/package.json
  packages/fediverse/package.json
  packages/fediverse/scripts/fix-dollar-vars.js
  packages/headless/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/primitives/scripts/build-css.js
  packages/testing/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Owners: @equaltoai/docs-team, @equaltoai/backend-team, @equaltoai/greater-components-fediverse-team, @equaltoai/core-team, @equaltoai/design-system, @equaltoai/ui-team

prettier
  .prettierignore
Owners: @equaltoai/core-team

prettier
  .github/workflows/a11y.yml
  packages/adapters/tsconfig.json
  packages/fediverse/tsconfig.json
Owners: @equaltoai/devops, @equaltoai/backend-team, @equaltoai/greater-components-fediverse-team

incremental - false
  packages/adapters/tsconfig.json
Owners: @equaltoai/backend-team

playwright
  .github/workflows/a11y.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  packages/testing/package.json
  packages/testing/playwright.a11y.config.ts
  packages/testing/playwright.visual.config.ts
  pnpm-lock.yaml
Owners: @equaltoai/devops, @equaltoai/core-team

more playwright
  .github/workflows/a11y.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  packages/adapters/package.json
  packages/fediverse/package.json
  packages/testing/playwright.visual.config.ts
  pnpm-lock.yaml
Owners: @equaltoai/devops, @equaltoai/backend-team, @equaltoai/greater-components-fediverse-team, @equaltoai/core-team

more playwright
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  scripts/aggregate-coverage.js
Owners: @equaltoai/devops

more fixes
  .github/workflows/a11y.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  packages/testing/tests/demo/primitives.spec.ts
Owners: @equaltoai/devops, @equaltoai/core-team

more fixes
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  packages/testing/tests/demo/primitives.spec.ts
Owners: @equaltoai/devops, @equaltoai/core-team

more fixes
  .github/workflows/docs.yml
  packages/testing/tests/demo/primitives.spec.ts
Owners: @equaltoai/devops, @equaltoai/core-team

more fixes
  packages/testing/tests/demo/primitives.spec.ts
Owners: @equaltoai/core-team

more fixes
  .github/workflows/docs.yml
  packages/testing/tests/demo/primitives.spec.ts
Owners: @equaltoai/devops, @equaltoai/core-team
